* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
input,select{
  border: none;
  outline: none;
  padding: .5rem 1rem;
}
body{
  background-color: #F2F5FA;
}
.container{
  margin : 0 auto;
  width: 90%;
}
.chart-container.container{
  margin: 2rem auto;
  width: 75%;
}
header .container{
  margin: auto;
}
header{
  padding: .5rem 0;
  background-color: #fff;
}
input[type='button']{
  border: none;
  padding: 1rem;
  background-color: #FE5010;
  border-radius: .4rem;
}
input:hover{
  cursor: pointer;
}
select:hover{
  cursor: pointer;
}
.filters{
  margin: .75em auto;
  width: 75%;
}
.filters .values select,input[type='date']{
  display: none;
}
.filter{
  border-radius: .4rem;
}
.values{
  display: flex;
}
.show{
  display: block !important;
}
.logo{
  height: 3rem;
  width: auto;
}
.filters{
  display: flex;
  justify-content: end;
  align-items: center;
}
.filter{
  background-color: #fff;
  margin: 0 1rem;
  padding: .5rem 1rem;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: .5rem 0;
}
.chart{
  position: relative;
  margin: 0 1rem;
  /* width: 45%; */
}
.bar{
  border-radius: .75rem;
  height: 400px;
  background-color: #fff;
}
.pie{
  background-color: none;
}
.row:nth-child(1) .chart{
  width: 45%;
}
.row:nth-child(2) .chart{
  width: 45%;
}
canvas{
  width: 100%;
  margin: 1rem;
}
